@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import "./fonts/fonts.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #21252b;
}

.en-font {
    font-family: 'Viga', sans-serif;
}

header {
    width: 90%;
    color: #fff;
    display: flex;
    user-select: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto 20px auto;
}

header h1 {
    font-size: 30px;
    font-weight: 100;
    margin-top: 16px;
    line-height: 36px;
    letter-spacing: 1px;
}

header p {
    font-size: 14px;
    line-height: 36px;
}

header img {
    width: 80px;
}

.box {
    width: 80%;
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    user-select: none;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.subscribe-btn {
    color: #fff;
    font-size: 16px;
    padding: 0 26px;
    font-weight: 100;
    line-height: 36px;
    margin: 16px auto;
    border-radius: 10px;
    letter-spacing: 1px;
    border: 3px solid #fff;
    background-color: #d9001f;
}

.btn {
    color: #9b9b9b;
}

.content {
    width: 90%;
    color: #fff;
    font-size: 14px;
    max-width: 400px;
    line-height: 33px;
    text-align: justify;
    margin: 0 auto 10px auto;
}

.content p {
    margin-top: 16px;
    color: #FFD54F;
    user-select: none;
    text-align: center;
}