.PageContainer {
    &__container {
        &::after {
            top: 0;
            bottom: 0;
            left: -1px;
            width: 1px;
            content: '';
            height: 100vh;
            position: absolute;
            background-color: white;
        }
        &::before {
            top: 0;
            bottom: 0;
            width: 1px;
            right: -1px;
            content: '';
            height: 100vh;
            position: absolute;
            background-color: white;
        }
    }
}