.resume-downloader-button {
  background: var(--background);

  &:hover {
    &:after,
    &:before {
      opacity: 1;
      animation-duration: 1s;
    }
  }
  &:after,
  &:before {
    inset: -2px;
    content: '';
    z-index: -1;
    position: absolute;
    border-radius: 4px;
    animation: 2.5s animate-angle infinite linear;
    background-image: conic-gradient(
      from var(--angle),
      var(--primary),
      var(--background),
      var(--background),
      var(--primary)
    );
  }
  &:before {
    opacity: 0.5;
    filter: blur(10px);
  }
}

@property --angle {
  inherits: false;
  syntax: '<angle>';
  initial-value: 0deg;
}
@keyframes animate-angle {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
