.hero-text-animator {
  &__character {
    &:last-child {
      color: var(--background);
    }
    &:before {
      top: 0;
      left: 0;
      font-weight: bold;
      position: absolute;
      color: var(--foreground);
      content: attr(data-text);
      transform: translateY(-110%);
    }
    &[data-text='a']::before {
      transform: translate(-30px, -110%);
    }
  }
}
