@import './fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../shared/static/animate.min.css';

.font-title {
  font-weight: 400;
  font-family: 'Syncopate', sans-serif;
}

.font-title-bold {
  font-weight: 700;
  font-family: 'Syncopate', sans-serif;
}

// 
.swal2-popup {
  color: #fff !important;
  background-color: #000 !important;
}
.swal2-html-container {
  margin-bottom: 20px !important;
}
.swal2-close {
  border: none !important;
  outline: none !important;
}
// 
.swiper-button-next, .swiper-button-prev {
  &::after {
    color: #fff;
    padding: 16px 20px;
    transform: scale(0.5);
    background-color: rgba(0,0,0,0.3);
  }
}