@use '@/styles/breakpoints.scss' as *;

.BlackSectionMenu {
  &__container {
    top: 20%;
    right: 10%;
    @include breakpoint-lg(1280px) {
      display: none;
    }
  }

  &__item {
    &::before {
      left: 0;
      bottom: 0;
      width: 20px;
      height: 2px;
      content: '';
      position: absolute;
      background-color: white;
      transition-duration: 400ms;
    }

    &:hover {
      &::before {
        width: 200px;
      }
    }
  }
}
