:root {
  --bar-color: #ff8f00;
  --bar-height: 1px;
}

.progress-bar {
  &__container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1031;
    position: fixed;
    pointer-events: none;
    contain: layout paint;
    height: var(--bar-height);
    transition: opacity 0.3s ease-out;
  }

  &__bar {
    height: 100%;
    transform: scaleX(0);
    will-change: transform;
    transform-origin: 0 50%;
    transition: transform 0.2s ease;
    background: linear-gradient(to right, transparent, var(--bar-color));
  }

  &__peg {
    top: 0;
    right: 0;
    opacity: 1;
    width: 100px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    box-shadow:
      0 0 100px var(--bar-color),
      0 0 10px var(--bar-color);
    transform: rotate(3deg) translate(0, -4px);
  }
}
