@use 'tailwindcss';

:root {
  --primary: #ff8f00;
  --background: #0a0a0a;
  --foreground: #ededed;
  --blog-title-background: #282c34;
}

.light {
  --primary: #ff8f00;
  --background: #ffffff;
  --foreground: #171717;
  --blog-title-background: #f1f5f9;
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .site-top-shadow::after {
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    content: '';
    height: 360px;
    position: fixed;
    pointer-events: none;
    transition-duration: 500ms;
    background: radial-gradient(
      circle at 50% -120%,
      var(--background) 60%,
      transparent 90%
    );
  }
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--foreground);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--primary);
}

#dify-chatbot-bubble-button {
  background-color: var(--primary) !important;
}
#dify-chatbot-bubble-window {
  width: 24rem !important;
  height: 40rem !important;
}

.Toastify__toast {
  margin: 6px;
  font-size: 14px;
  min-height: 60px;
}

.shine-animation-top {
  animation: shine 4s infinite ease-in-out;
}
.shine-animation-bottom {
  animation: shine 6s infinite linear;
}
.float-animation {
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
