@use 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #ff8f00;
  --background: #0a0a0a;
  --foreground: #ededed;
  --blog-title-background: #282c34;
  --code-block-background: rgb(40, 44, 52);
  --bar-height: 1px;
  --bar-color: #ff8f00;
}

.light {
  --primary: #ff8f00;
  --background: #ffffff;
  --foreground: #171717;
  --blog-title-background: #f1f5f9;
  --code-block-background: rgb(40, 44, 52);
}

body {
  position: relative;
  overflow-x: hidden;
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--foreground);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: var(--primary);
}

.Toastify__toast {
  margin: 6px;
  font-size: 14px;
  min-height: 60px;
}

.shine-animation-top {
  animation: shine 4s infinite ease-in-out;
}
.shine-animation-bottom {
  animation: shine 6s infinite linear;
}
.float-animation {
  transform: translateY(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes shine {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
