@import '@/styles/breakpoints.scss';

.BlackSection {
    &__container {
        &::before {
            top: 0;
            bottom: 0;
            content: '';
            left: -299px;
            position: absolute;
            border-bottom: 100vh solid black;
            border-left: 300px solid transparent;
        }
    }
}