/* IRAN Yekan */
@font-face {
    font-family: yekanN;
    font-style: normal;
    font-weight: normal;
    src: url('./Yekan/iranyekanwebregularfanum.eot');
    src: url('./Yekan/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),
        url('./Yekan/iranyekanwebregularfanum.woff') format('woff'),
        url('./Yekan/iranyekanwebregularfanum.ttf') format('truetype');
}
@font-face {
    font-family: yekanB;
    font-style: normal;
    font-weight: 800;
    src: url('./Yekan/iranyekanwebextraboldfanum.eot');
    src: url('./Yekan/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),
        url('./Yekan/iranyekanwebextraboldfanum.woff') format('woff'),
        url('./Yekan/iranyekanwebextraboldfanum.ttf') format('truetype');
}
/* init */
body {
    font-family: yekanN;
    font-weight: normal;
    direction: rtl;
}

/* letter spacing */
.letter-spacing-1 {letter-spacing: 1px !important}
.letter-spacing-05 {letter-spacing: 0.5px !important}

/* align font */
.text-left {text-align: left !important}
.text-right {text-align: right !important}
.text-center {text-align: center !important}
.text-justify {text-align: justify !important}

/* set font */
.yekan {font-family: yekanN !important}
.yekan-bold {font-family: yekanB !important}

/* set size */
.font-10 {font-size: 10px !important}
.font-12 {font-size: 12px !important}
.font-14 {font-size: 14px !important}
.font-16 {font-size: 16px !important}
.font-18 {font-size: 18px !important}
.font-20 {font-size: 20px !important}
.font-22 {font-size: 22px !important}
.font-24 {font-size: 24px !important}
.font-26 {font-size: 26px !important}
.font-28 {font-size: 28px !important}
.font-30 {font-size: 30px !important}