code {
  font-size: 16px;
  border-radius: 10px;
}

pre code {
  padding: 0;
  transition-duration: 500ms;
}

pre {
  padding: 4px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition-duration: 500ms;
  background-color: var(--code-block-background);
}

.expand-button-overlay {
  &::before {
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 70%;
    display: flex;
    font-size: 14px;
    position: absolute;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(transparent, var(--code-block-background) 95%);
  }

  &--collapsed {
    padding-bottom: 60px;
    &::before {
      height: 100px;
    }
  }
}

.hljs-copy-button {
  width: 26px;
  height: 26px;
  margin: 10px;
  height: 24px;
  border: unset;
  cursor: pointer;
  background-color: transparent !important;

  &::before {
    width: 26px !important;
    height: 26px !important;
  }
}

.handle-change-code-preview-button {
  left: 50%;
  bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  padding: 2px 20px;
  position: absolute;
  transition-duration: 300ms;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--primary);

  &:hover {
    color: var(--primary);
  }
}
