.post-detail-page {
  &__text {
    p {
      margin-bottom: 16px;
    }
    strong {
      font-weight: bold;
    }

    a {
      color: var(--primary);
    }

    h3,
    h4,
    h5 {
      position: relative;

      &:before {
        left: 0;
        width: 50px;
        content: '';
        height: 2px;
        bottom: -4px;
        border-radius: 4px;
        position: absolute;
        background-color: var(--primary);
      }
    }

    h2 {
      padding: 8px 0;
      font-weight: bolder;
      font-size: 26px;
    }

    ul {
      padding-left: 16px;
    }

    ol li {
      margin: 0 20px;
      padding-left: 0;
      border-left: unset;
      list-style-type: decimal;
    }

    li {
      padding-left: 16px;
      margin-bottom: 10px;
      border-left: 4px solid var(--blog-title-background);
    }
  }
}
