.post-detail-page {
  &__text {
    p {
      margin-bottom: 16px;
    }
    strong {
      font-weight: bold;
    }

    code {
      font-size: 14px;
      border-radius: 10px;
    }

    pre {
      padding: 1rem;
      border-radius: 8px;
      background-color: #282c34;
      transition-duration: 500ms;
    }
  }
}
